# .coveragerc to control python coverage generation: coverage.py
#
# To run (dummytest only):
#   python -m coverage run -m pytest -v -m dummytest
#
# To display simple ASCII coverage report:
#   python -m coverage report
#
# To display detailed ASCII coverage report:
#   python -m coverage report -m
[run]

# capture branch coverage
branch = True

source = .

# The [run] dynamic_context setting has only one option now. Set it to test_function to start a new dynamic context for every test function.
dynamic_context = test_function

relative_files = True

[report]
precision = 2

[html]
title = TradeSim Coverage Report
directory = coverage_html
show_contexts = true

[xml]
output = coverage.xml
