# .coveragerc to control python coverage generation: coverage.py
#
# To run (dummytest only):
#   python -m coverage run -m pytest -v -m dummytest
#
# To display simple ASCII coverage report:
#   python -m coverage report
#
# To display detailed ASCII coverage report:
#   python -m coverage report -m
[run]

# capture branch coverage
branch = True

source = .

dynamic_context = test_function


[report]
precision = 2

[html]
directory = coverage_html
show_contexts = true
