# pip dependency requirement for CI
# Can be installed directly with:
# python -m pip install -r requirements.txt

# Main packages used:
numpy
pandas
matplotlib
scipy
yfinance

# To investigate:
# yahoofinancials
# investpy

# Required for CI:
pytest
coverage
