# pip dependency requirement for CI
#
# Make sure pip is up to date:
# python -m pip install --upgrade pip
#
# Install all required packages:
# python -m pip install -r requirements.txt

# Main packages used:
numpy
pandas
matplotlib
scipy
# bug in latest version
yfinance==0.1.84

# Required for CI:
pytest
coverage

# For notebook handling
# ipython
# ipykernel
# jupyter
# jupyterlab
# notebook
# seaborn

# To investigate:
# yahoofinancials
# investpy
